{% macro docs_navigation(page, current_section) %}
<div class="docs-navigation d-flex justify-content-between">
  
  {% set index_path = current_section ~ "/_index.md" | trim_start_matches(pat="/") %}
  {% set index = get_section(path=index_path) %}
  
  {% set_global found_previous = false %}
  {% set_global found_self_prev = false %} <!-- Found own page? -->
  {% set_global previous_permalink = '' %}
  {% set_global previous_title = '' %}
  {% set_global found_previous_permalink = false %}

  {% if index.subsections %}
    {% for s in index.subsections %}
      {% set subsection = get_section(path=s) %}
      {% if subsection.pages %}
          {% for page in subsection.pages %}
            {# previous page is not self #}
            {% if current_url == page.permalink %}
              {% set_global found_self_prev = true %}
            {% elif current_url != page.permalink %}
              {# already past self #}
              {% if found_self_prev == false %}
                {% set_global previous_permalink = page.permalink %}
                {% set_global previous_title = page.title %}
                {% set_global found_previous_permalink = true %}
                {% break %}
              {% endif %}
            {% endif %}
          {% endfor %}
      </ul>
      {% endif %}
      {% if found_previous_permalink == true and found_self_prev == true %}
        {% break %}
      {% endif %}
    {% endfor %}
    {% if found_previous_permalink == true %}
      <a class="btn btn-primary btn-lg px-4 mb-2" href="{{ previous_permalink }}" role="button">
        &larr; {{ previous_title }}
      </a>
    {% else %}
      <div class="px-4 mb-2"></div>
    {% endif %}
  {% endif %}

  {% set_global found_next = false %}
  {% set_global counter = 0 %}
  {% set_global found_self_next = false %} <!-- Found own page? -->
  {% set_global next_permalink = '' %}
  {% set_global next_title = '' %}
  {% set_global found_next_permalink = false %}

  {% if index.subsections %}
    {% for s in index.subsections %}
      {% set subsection = get_section(path=s) %}
      {% if subsection.pages %}
          {% for page in subsection.pages %}

            {% if counter == 1 %}
              {% set_global next_permalink = page.permalink %}
              {% set_global next_title = page.title %}
              {% set_global found_next_permalink = true %}
              {% set_global counter = 2 %}
              {% break %}
            {% endif %}

            {% if current_url == page.permalink %}
              {% set_global found_self_next = true %}
              {% set_global counter = 1 %}
            {% endif %}

          {% endfor %}
      </ul>
      {% endif %}
      {% if found_next_permalink == true and found_self_next == true %}
        {% break %}
      {% endif %}
    {% endfor %}
    {% if found_next_permalink == true %}
      <a class="btn btn-primary btn-lg px-4 mb-2" href="{{ next_permalink }}" role="button">
        {{ next_title }} &rarr;
      </a>
    {% endif %}
  {% endif %}


  {# <a class="btn btn-primary btn-lg px-4 mb-2" href="{{ first_age.permalink }}" role="button">&larr; {{ first_page.title }}</a> #}

</div>
{% endmacro %}
