{% macro page_publish_metadata(page) %}
<p>
  <small>
    Posted <em style="font-size:10pt;opacity:0.65;">{{ page.date | date(format=config.extra.timeformat | default(value="%Y-%m-%d %H:%M"), timezone=config.extra.timezone | default(value="America/New_York")) }}</em>
    {% if page.taxonomies.authors and config.taxonomies %} 
      by 
      {% for author in page.taxonomies.authors %}
        {% if author_flag %} 
          and 
        {% endif %}
        <a class="stretched-link position-relative" href="{{ get_taxonomy_url(kind='authors', name=author) | safe }}">{{ author }}</a>
        {% set_global author_flag = true %}
      {% endfor %}
    {% endif %}
    &nbsp;&hyphen;&nbsp;<strong>{{ page.reading_time }}&nbsp;min read</strong>
  </small>
  <p>
{% endmacro %}
